<h1 class='project-title'> <%= @project.name %></h1>
<div class="row">
  <div class='twelve columns'>
    <div class='current-status'> 
      <div class='status'> <%= last_text_and_date(@project)[:text] %> </div>
      <div class='status-date'> <%= last_text_and_date(@project)[:date] %> ago  </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="four columns users">

    <%= form_for @project do |f| %>
    
      <%= collection_check_boxes(:project, :user_ids, User.all, :id, :email) do |b| 
           b.label(:"data-value" => b.value) { b.check_box + b.text }
      end %>

      <%= f.submit "Update Users" %>
    <% end %> 

  </div>

  <div class="eight columns statuses">


    <%= form_for [@project, ProjectStatus.new ] do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :project_id, value: @project.id %>
      <%= f.text_field :text, placeholder: "New status..." %>
      <%= f.submit "Update Status" %>
    <% end %> 

    <ul class='recent-statuses'>
      <% @project.statuses.reverse[1..-1].each do |status| %>
        <li>
          <div class='status'>
            <%= text_and_date_for_status(status)[:text] %> 
          </div>
          <div class='status-date'> <%= text_and_date_for_status(status)[:date] %> ago </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>